* {
    box-sizing: border-box;
  }

  header{
    padding: 20px;
    font-size: 1.5em
  }
  .high-score{
    display: inline-block;
  }

  .timer{
    float: right;
  }

  .option-container{
    display: list-item;
  }

  div button {
    display: table;
  }