* {
    box-sizing: border-box;
  }

  header{
    padding: 20px;
    font-size: 1.5em
  }
  .high-score{
    display: inline-block;
  }

  .timer{
    float: right;
  }

  .option-container{
    display: list-item;
  }

  div button {
    display: table;
  }

  .option{
    background-color: rgb(126, 32, 126);
    color:white
  }

  .option:hover{
    opacity: .6;
  }